body,
html {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #ffffff;
    scrollbar-color: #2f4553 transparent;
    -webkit-overflow-scrolling: touch;
}
.Top1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 255, 255, 0);
}

.Top1 img {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(60%);
}
h1 {
    margin-top: 8%;
    position: absolute;
    z-index: 2;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    .Top1 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: rgba(0, 255, 255, 0);
    }
    .Top1 img {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
        filter: brightness(60%);
    }
    h1 {
        margin-top: 25%;
        position: absolute;
        z-index: 2;
        font-size: 12vw;
        color: #ffffff;
        background-color: rgba(0, 255, 255, 0);
    }

    .Top2 {
        display: flex;
        justify-content: center;
        margin-top: -70px;
        width: 100%;
        max-height: auto;
        background-color: rgba(0, 255, 255, 0.765);
    }
    .Top2 img {
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        object-fit: contain;
        filter: brightness(95%);
    }

    .Top3 {
        display: flex;
        justify-content: center;
        margin-top: -70px;
        width: 100%;
        height: auto;
        background-color: rgba(255, 255, 255, 0);
    }
    .Top3 img {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
        filter: brightness(60%);
    }

    .Top4 {
        display: flex;
        justify-content: center;
        margin-top: -70px;
        width: 100%;
        height: auto;
        background-color: rgba(255, 255, 255, 0);
    }
    .Top4 img {
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
        object-fit: contain;
        filter: brightness(95%);
    }

    .Top5 {
        display: flex;
        justify-content: center;
        margin-top: -70px;
        width: 100%;
        height: auto;
        background-color: rgba(255, 255, 255, 0);
    }

    .Top5 img {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
        filter: brightness(60%);
    }

    #Countdown{
        font-family:'Courier New', Courier, monospace;
        margin-top: 50%;
        position: absolute;
        font-size: 10vw;
        z-index: 2;
        color: #ffffff;
    }

    .Times{
        display: flex;
        font-family:'Courier New', Courier, monospace;
        margin-top: 60%;
        position: absolute;
        font-size: 3.38vw;
        z-index: 2;
        color: #ffffff;
        width: 100%;
        background-color: rgba(0, 255, 255, 0);
    }
    .Days{
        margin-left: 22%;
    }
    .Hours{
        margin-left: 9%;
    }
    .Minutes{
        margin-left: 4.4%;
    }
    .Seconds{
        margin-left: 3%;
    }
}